{{ define "main" }}
<link href="/styles/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>
<div class="list" data-pagefind-ignore>
  {{ range .Paginator.Pages }}
  <div class="listItem">
    <img
      src={{
      .Params.image
      }}
      alt="{{.Title}}"
      class="listItemImage"
      loading="lazy"
    />
    <div class="listItemTexts">
      <h1 class="listItemTitle">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h1>
      <p class="listItemDesc">{{.Params.description}}</p>
      <div class="listItemDetail">
        <img src="{{.Params.avatar}}" loading="lazy" alt="" class="listItemAvatar"/>
        <span>{{ range (.GetTerms "authors")}}
          <a href={{.Permalink}}>{{ .Name }}</a>
          {{end}}</span>
          <div>
            {{ with .Params.twitter }}<a href="{{ . }}" target="_blank"><img src="/images/Social_Media_Icons/icons8-twitter-48.png" alt="Twitter" class="social-media-icon"></a>{{ end }}
            {{ with .Params.linkedin }}<a href="{{ . }}" target="_blank"><img src="/images/Social_Media_Icons/icons8-linkedin-48.png" alt="LinkedIn" class="social-media-icon"></a>{{ end }}
            {{ with .Params.github }}<a href="{{ . }}" target="_blank"><img src="/images/Social_Media_Icons/icons8-github-48.png" alt="Github" class="social-media-icon"></a>{{ end }}
            {{ with .Params.instagram }}<a href="{{ . }}" target="_blank"><img src="/images/Social_Media_Icons/icons8-instagram-48.png" alt="Instagram" class="social-media-icon"></a>{{ end }}
            {{ with .Params.facebook }}<a href="{{ . }}" target="_blank"><img src="/images/Social_Media_Icons/icons8-facebook-48.png" alt="Facebook" class="social-media-icon"></a>{{ end }}
          </div>
        <time>{{ dateFormat .Site.Params.dateFormat  .Date}}</time>
      </div>
      <div class="listItemCategories">
        {{ range (.GetTerms "categories") }}
        <a class="listItemCategory" href={{ .Permalink }}>{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
