<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/">REG Blog</a>
    </div>
    <div class="breadcrumb-trail">
      <a href="/">Home</a>
      {{ if eq .RelPermalink "/categories/" }}
        &gt; <span>Categories</span>
      {{ else if .IsPage }}
        {{ if .Section }}
          &gt; <a href="/{{ .Section }}/">{{ .Section | humanize }}</a>
        {{ end }}
        &gt; <span>{{ .Title }}</span>
      {{ else if .IsSection }}
        &gt; <span>{{ .Title }}</span>
      {{ end }}
    </div>
  </nav>
</body>

