<body>
  <div class="rightBar">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3576858098464651"
       crossorigin="anonymous"></script>
    <!-- Right-bar -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3576858098464651"
        data-ad-slot="9082058765"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</body>
